@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html.dark {
  color-scheme: dark;
}

html.light {
  color-scheme: light;
}

body {
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
}
